$blue: #3fa7d6;
$lightwhite: #dfdfdf;
$lightbackground:#dff0f8;
$lightyellow: #fdeac9;
$lightdark: #666666;
$lightgray:#eeeeee;
$dark: #1c1c1c;
$white: #fff;
$black: #000;
$yellow: #fac05e;
$green:#03b56e;
$red:#eb3232;