@import '../fonts/fonts';
$MontserratBl: Montserrat-Black;
$MontserratB: Montserrat-Bold;
$MontserratH: Montserrat-Heavy;
$MontserratL: Montserrat-Light;
$MontserratTh: Montserrat-Thin;
$MontserratSB: Montserrat-SemiBold;
$MontserratM: Montserrat-Medium;
$MontserratR: Montserrat-Regular;
$MontserratUL: Montserrat-UltraLight;
$MontserratExB: Montserrat-ExtraBold;