<footer>
    <div class="footer-container">
        <div class="top-footer">
            <div class="col-md-6 col-12">
                <h4 class="text-capitalize">
                    à propos
                </h4>
                <p>
                    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molest iae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
                </p>
            </div>
            <div class="col-md-3 col-12">
                <div class="link-groupe">
                    <h4>Lien utiles</h4>
                    <ul>
                        <li>
                            <a href="/mention-legale.html">
                                Mentions légales
                            </a>
                        </li>
                        <li>
                            <a href="/Politique-confidentialite.html">
                                Politique de confidentialité
                            </a>
                        </li>
                        <li>
                            <a href="/logine.html">
                                S'inscrire
                            </a>
                        </li>
                        <li>
                            <a href="/faq.html">
                                Question fréquentes
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-3 col-12">
                <div class="link-groupe">
                    <h4>Contact</h4>
                    <ul>
                        <li class="d-flex align-items-center">
                            <i class="fa fa-phone-square"></i>
                            <a href="tel:+216 75 000 000">+216 75 000 000</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:sdacademy@gmail.com">sdacademy@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="link-groupe">
                    <h4>Suivez-nous</h4>
                    <ul class="socialmedia-links">
                        <li>
                            <a href="www.facebook.com">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="www.instagram.com">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="www.twitter.com">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="www.linkedin.com">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <span>
                © 2022 SD ACADEMY, Tous droits réservés
            </span>
        </div>
    </div>
</footer>