<header>
    <nav>
        <div class="top-level d-flex">
            <div class="d-flex">
                <span>Appelez-nous sur</span>
                <a href="tel:+216 75 000 000"> +216 75 000 000</a>
            </div>
            <div class="d-flex">
                <span>suivrez-nous</span>
                <a href="www.twitter.com">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="www.instagram.com">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="www.facebook.com">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
        </div>
        <hr />
        <div class="main-level d-flex justify-content-between align-items-center">
            <a class="logo" href="{{root}}/homepage.html">
                <img src="../assets/images/Logo.svg" alt="">
            </a>
            <div class="connexion-button d-flex">
                <a href="{{root}}/login.html" class="btn bg-blue d-flex align-items-center">
                    <i class="fa-solid fa-user"></i>
                    <span>connexion</span>
                </a>
                <a href="{{root}}/inscription.html" class="btn bg-yellow d-flex align-items-center">
                    <i class="fa-solid fa-pen"></i>
                    <span>inscription</span>
                </a>
            </div>
        </div>
    </nav>
</header>